<html>
<head>
	<title>Result</title>
</head>
<body>
<p>Пииань завантажено - <%=data[0]%></p>

<p>Дублікатів - <%=data[1]%></p>

<p>Питань додано - <%=data[2]%></p>

<a href="./upload">
	<button>Завантажити файл</button>
  </a>
</body>
</html>
